<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        消息管理
        <!--<small>Control panel</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">消息管理</li>
    </ol>
</section>

<section class="content">
    <script type="text/javascript">
        $(function () {
            $('#msgTable').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bAutoWidth": false,
                "bInfo": false
            });

            $('#editHead').attr('class', '');
        });
    </script>
    <div class="box-group">
        <div class="panel box box-primary ">
            <div class="box-body table-responsive">
                <div class="dataTables_wrapper form-inline" role="grid">
                    <!--<div class="row col-xs-12">-->
                        <!--<div class="col-xs-4">-->
                            <!--<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">每页记录数<span-->
                                    <!--class="fa fa-caret-down"></span></button>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li ng-click="dataTable.pageSize = 10"><a>10</a></li>-->
                                <!--<li ng-click="dataTable.pageSize = 25"><a>25</a></li>-->
                                <!--<li ng-click="dataTable.pageSize = 50"><a>50</a></li>-->
                                <!--<li ng-click="dataTable.pageSize = 100"><a>100</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="col-xs-12">
                        <table id="msgTable" class="table table-hover dataTable">
                            <thead>
                            <tr role="row" onclick="document.getElementById('editHead').setAttribute('class', '')">
                                <th ng-click="dataTable.sort('id')">ID&nbsp;</th>
                                <th ng-click="dataTable.sort('title')">信息名称
                                </th>
                                <th ng-click="dataTable.sort('body')">信息内容
                                </th>
                                <th ng-click="dataTable.sort('createdDateTime')">创建时间
                                </th>
                                <th ng-click="dataTable.sort('expireDateTime')">过期时间
                                </th>
                                <th id="editHead"></th>
                            </tr>
                            </thead>

                            <tbody
                                    ng-repeat="da in dataTable.filteredData = (dataTable.data | filter:dataTable.filter) | orderBy:dataTable.sortColumn:dataTable.sortDescending | startFrom:dataTable.currentPageStart() | limitTo:dataTable.pageSize">
                            <tr>
                                <td>{{da.id}}</td>
                                <td>
                                    <span ng-hide='da.mode'>{{da.title}}</span>
                                    <input ng-show='da.mode' ng-model='da.title'/>
                                </td>
                                <td>
                                    <span ng-hide='da.mode'>{{da.body}}</span>
                                    <input ng-show='da.mode' ng-model='da.body'/>
                                </td>
                                <td>{{getDateString(da.createdDateTime)}}</td>
                                <td>{{getDateString(da.expireDateTime)}}</td>
                                <td>
                                    <button ng-show='!da.mode' class="btn btn-primary btn-sm"
                                            ng-click='editRow(da)'>
                                        <i class="fa fa-edit"></i> 编辑
                                    </button>
                                    <button ng-show='da.mode' class="btn btn-default btn-sm"
                                            ng-click='cancelRow(da)'>
                                        <i class="fa fa-undo"></i> 放弃
                                    </button>
                                    <button ng-show='da.mode' class="btn btn-primary btn-sm"
                                            ng-click='saveRow(da)'>
                                        <i class="fa fa-save"></i> 保存
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6">
                        <p>显示 {{dataTable.currentPageStart()}} 到
                            {{dataTable.currentPageEnd()}} 条记录</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                <li class="prev" ng-class="{ disabled: dataTable.onFirstPage()}"><a
                                        ng-click="dataTable.previous()">上一页</a></li>
                                <li ng-repeat-start="page in dataTable.pages()" ng-repeat-end
                                    ng-class="{active: dataTable.currentPage === page - 1}"><a
                                        ng-click="dataTable.goToPage(page)">{{page}}</a></li>
                                <li class="next" ng-class="{ disabled: dataTable.onLastPage()}"><a
                                        ng-click="dataTable.next()">下一页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>