<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        消息管理
        <!--<small>Control panel</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">消息管理</li>
    </ol>
</section>

<section class="content">
    <style type="text/css">
        th[ng-click] {
            color: #07a;
            cursor: pointer;
        }
    </style>
    <div class="row form-inline">
        <div class="col-xs-6 angular-data-table">
            <select name="pageSize" class="form-control input-sm"
                    ng-model="dataTable.pageSize">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select> <label for="pageSize" class="control-label">records per
            page</label>
        </div>
        <div class="col-xs-6">
            <input type="search" name="filter"
                   class="form-control input-sm pull-right"
                   ng-model="dataTable.filter" ng-change="dataTable.resetPaging()">
            <label for="filter" class="control-label pull-right">filter:
                &nbsp;</label>
        </div>
        <div class="box-group">
            <div class="box-body">
                <div class="col-xs-12">
                    <table class="table table-condensed table-striped table-hover">
                        <thead>
                        <tr>
                            <th ng-click="dataTable.sort('id')">ID</th>
                            <th ng-click="dataTable.sort('title')">信息名称</th>
                            <th ng-click="dataTable.sort('body')">信息内容</th>
                            <th ng-click="dataTable.sort('createdDateTime')">创建时间</th>
                            <th ng-click="dataTable.sort('expireDateTime')">过期时间</th>
                        </tr>
                        </thead>
                        <tbody
                                ng-repeat="da in dataTable.filteredData = (dataTable.data | filter:dataTable.filter) | orderBy:dataTable.sortColumn:dataTable.sortDescending | startFrom:dataTable.currentPageStart() | limitTo:dataTable.pageSize">
                        <tr>
                            <td>{{da.id}}</td>
                            <td>
                                <span ng-hide='da.mode'>{{da.title}}</span>
                                <input ng-show='da.mode' ng-model='da.title'/>
                            </td>
                            <td>
                                <span ng-hide='da.mode'>{{da.body}}</span>
                                <input ng-show='da.mode' ng-model='da.body'/>
                            </td>
                            <td>{{getDateString(da.createdDateTime)}}</td>
                            <td>{{getDateString(da.expireDateTime)}}</td>
                            <td>
                                <button ng-show='!da.mode' class="btn btn-primary btn-sm"
                                        ng-click='editRow(da)'>
                                    <i class="fa fa-edit"></i> 编辑
                                </button>
                                <button ng-show='da.mode' class="btn btn-default btn-sm"
                                        ng-click='cancelRow(da)'>
                                    <i class="fa fa-undo"></i> 放弃
                                </button>
                                <button ng-show='da.mode' class="btn btn-primary btn-sm"
                                        ng-click='saveRow(da)'>
                                    <i class="fa fa-save"></i> 保存
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <p>Showing {{dataTable.currentPageStart()}} to
                {{dataTable.currentPageEnd()}} of {{projects.length}} entries</p>
        </div>
        <div class="col-xs-6">
            <ul class="pagination pull-right">
                <li class="prev" ng-class="{ disabled: dataTable.onFirstPage()}"><a
                        ng-click="dataTable.previous()">Previous</a></li>
                <li ng-repeat-start="page in dataTable.pages()" ng-repeat-end
                    ng-class="{active: dataTable.currentPage === page - 1}"><a
                        ng-click="dataTable.goToPage(page)">{{page}}</a></li>
                <li class="next" ng-class="{ disabled: dataTable.onLastPage()}"><a
                        ng-click="dataTable.next()">Next</a></li>
            </ul>
        </div>
    </div>
</section>