<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">修改密码</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Breadcrumb-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--<ol class="breadcrumb">-->
<!--<li><a href="#">首页</a></li>-->
<!--<li><a href="#/product-base-manage">产品</a></li>-->
<!--<li class="active"><a href="#/product-base-manage">产品管理</a></li>-->
<!--</ol>-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End breadcrumb-->


<!--Page content-->
<!--===================================================-->

<div id="page-content">
    <section class="content">
        <div class="panel panel-bordered-primary">
            <div class="animated zoomIn">
                <div id="updatePassword" class="form-horizontal">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1 control-label">当前密码：</label>

                            <div class="col-md-4">
                                <input type="password" class="form-control" name="oldPassword" placeholder="当前密码"
                                       ng-model="originalPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1 control-label">修改密码：</label>

                            <div class="col-md-4">
                                <input type="password" class="form-control" name="curPassword" placeholder="修改密码"
                                       ng-model="currentPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 col-md-offset-1 control-label">确认密码：</label>

                            <div class="col-md-4">
                                <input type="password" class="form-control" name="confirmPassword"
                                       placeholder="确认密码" ng-model="confirmPassword">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-1 col-md-offset-5">
                                    <button type="submit" class="btn btn-primary btn-labeled fa fa-send"
                                            ng-click="submit();">提交
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>