<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">产品码管理</h1>

    <!--Searchbox-->
    <!--<div class="searchbox" ng-include="'pages/search-box.html'"></div>-->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">批量申请产品码</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="createForm">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <select name="productType"
                                        class="form-control"
                                        ng-model="creationPanel.model.productBaseId"
                                        ng-change="creationPanel.productBaseIdChanged(creationPanel.model.productBaseId)">
                                    <option value="0">请选择产品</option>
                                    <option ng-repeat="pb in creationPanel.productBases"
                                            value="{{pb.id}}">
                                        {{pb.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 animated slideInRight"
                                 ng-show="creationPanel.selectedProductBase">
                                <label>产品码类型：</label>
                                <span key-type="creationPanel.selectedProductBase.product_key_types"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6 text-center animated slideInRight"
                                 ng-show="creationPanel.selectedProductBase">

                                <br>

                                <div id="rangeNum"></div>
                                <br>

                                <div id="rangeKey"></div>
                                <br>
                                <br>

                                <div class="pull-left">
                                    申请总额：<b id="rangeResult" style="font-size: 20px">1</b>
                                </div>
                            </div>
                            <div class="form-group col-md-6 text-center animated slideInRight"
                                 ng-show="creationPanel.selectedProductBase">
                                <div id="chartProKeyRemain" data-dimension="220" data-width="8"
                                     data-fgcolor="#ed5565" data-bgcolor="#eee" data-fontsize="24"
                                     style="margin:0 0 20px 20px">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <button id="btnSubmit" type="submit" class="btn btn-primary btn-labeled fa fa-barcode"
                                        ng-click="creationPanel.create()" ng-disabled="creationPanel.disableSubmit">
                                    创建
                                </button>
                                &nbsp;<i class="fa fa-spinner fa-lg" ng-show="spinnerShow"></i>
                                <button id="btnCancel" type="button" class="btn btn-info btn-labeled fa fa-close"
                                        ng-click="creationPanel.hideModal()">
                                    取消
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>

    <div class="panel panel-success animated slideInRight" ng-show="listPanel.newProductKeyBatches.length > 0">
        <a data-toggle="collapse" href="" data-target="#collapse_new">
            <div class="panel-heading">
                <h3 class="panel-title">新申请</h3>
            </div>
        </a>

        <div id="collapse_new" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>#</th>
                        <th>数量</th>
                        <th>产品码类型</th>
                        <th>产品</th>
                        <th>状态</th>
                        <th>申请时间</th>
                        <th>操作</th>
                    </tr>
                    <tr ng-repeat="b in listPanel.newProductKeyBatches">
                        <td>{{$index + 1}}</td>
                        <td>{{b.quantity}}</td>
                        <td>
                            <span key-type="b.product_key_types"></span>
                        </td>
                        <td>{{productBaseMap[b.product_base_id].name}}</td>
                        <td>
                            <div class="label label-table"
                                 data-status.code="{{b.status.code}}"
                                 ng-class="{'label-success': b.status.code==='available',
                                            'label-info': b.status.code==='creating',
                                            'label-warning': b.status.code!=='available' && b.status.code!=='creating'}">
                                {{b.status.name}}
                            </div>
                        </td>
                        <td>{{utils.formatDateString(b.created_datetime)}}</td>
                        <td>
                            <button class="btn btn-primary btn-labeled fa fa-cloud-download"
                                    ng-click="listPanel.download(b.id)">下载
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="listPanel" class="panel panel-bordered-primary">
        <div class="animated slideInRight">
            <div class="col-sm-12 pull-left" style="padding: 20px 20px;" ng-show="productKeyButtonShow">
                <button id="btn-addrow" class="btn btn-primary btn-labeled fa fa-plus" ng-click="showModal()">产品码申请
                </button>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead id="sort-bar">
                    <tr>
                        <th>#</th>
                        <th data-sort-field="quantity">数量</th>
                        <th>产品码类型</th>
                        <th>产品</th>
                        <th data-sort-field="statusCode">状态</th>
                        <th data-sort-field="createdDateTime">申请时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="b in listPanel.table.pageable.data track by b.id" data-id="{{b.id}}">
                        <td>{{$index + 1}}</td>
                        <td>{{b.quantity}}</td>
                        <td>
                            <span key-type="b.product_key_types"></span>
                        </td>
                        <td>{{productBaseMap[b.product_base_id].name}}</td>
                        <td>
                            <div class="label label-table"
                                 data-status.code="{{b.status.code}}"
                                 ng-class="{'label-success': b.status.code==='available',
                                            'label-info': b.status.code==='creating',
                                            'label-warning': b.status.code!=='available' && b.status.code!=='creating'}">
                                {{b.status.name}}
                            </div>
                        </td>
                        <td>{{utils.formatDateString(b.created_datetime)}}</td>
                        <td>
                            <button class="btn btn-primary btn-labeled fa fa-cloud-download"
                                    ng-click="listPanel.download(b.id)">下载
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right pagination" dt-pageable="listPanel.table.pageable">
                </div>
            </div>
        </div>
    </div>
</div>

<iframe width="0" height="0" frameborder="0" ng-src="{{listPanel.downloadFrameSrc}}"></iframe>

<!--===================================================-->
<!--End page content-->
