<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">产品码管理</h1>

    <!--Searchbox-->
    <!--<div class="searchbox" ng-include="'pages/search-box.html'"></div>-->
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Page content-->
<!--===================================================-->
<div id="page-content">
    <div class="panel panel-bordered panel-primary" ng-show="productBases">
        <a data-toggle="collapse" href="" data-target="#collapse_create">
            <div class="panel-heading">
                <h3 class="panel-title">批量申请产品码</h3>
            </div>
        </a>

        <div id="collapse_create" class="panel-collapse collapse">
            <div class="panel-body">
                <form role="form" id="createForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <select name="productType"
                                        class="selectpicker form-control"
                                        ng-model="creationPanel.model.productBaseId"
                                        ng-change="creationPanel.productBaseIdChanged(creationPanel.model.productBaseId)">
                                    <option value="0">请选择产品</option>
                                    <option ng-repeat="pb in creationPanel.productBases" value="{{pb.id}}">
                                        {{pb.name}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-xs-4 animated slideInRight"
                                 ng-show="creationPanel.selectedProductBase">
                                <label>产品码类型：<span class="inline">{{formatProductKeyTypes(creationPanel.selectedProductBase.productKeyTypes)}}</span></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-xs-4">
                                <select name="quantity" class="selectpicker form-control"
                                        ng-model="creationPanel.model.quantity">
                                    <option value="0">请选择数量</option>
                                    <option value="100">100</option>
                                    <option value="1000">1,000</option>
                                    <option value="2000">2,000</option>
                                    <option value="5000">5,000</option>
                                    <option value="10000">10,000</option>
                                    <option value="20000">20,000</option>
                                    <option value="50000">50,000</option>
                                    <option value="100000">100,000</option>
                                    <option value="100000">200,000</option>
                                </select>
                            </div>
                            <div class="form-group col-xs-4 animated slideInRight"
                                 ng-show="creationPanel.selectedProductBase">
                                <div class="progress-group">
                                    <span class="progress-text">可用额度</span>
                                    <span class="progress-number"><b>{{creationPanel.selectedProductBase.credit.remain}}</b>
                                /{{creationPanel.selectedProductBase.credit.total}}</span>

                                    <div class="progress progress-md" style="background-color: #f0ffff;">
                                        <div class="progress-bar progress-bar-primary progress-bar-striped active"
                                             ng-style="{width: creationPanel.selectedProductBase.credit.percentage + '%'}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary" ng-click="creationPanel.create()">创建</button>
                        <!--<div class="clearfix"></div>-->
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-success animated slideInRight" ng-show="listPanel.newProductKeyBatches.length > 0">
        <a data-toggle="collapse" href="" data-target="#collapse_new">
            <div class="panel-heading">
                <h3 class="panel-title">新申请</h3>
            </div>
        </a>

        <div id="collapse_new" class="panel-collapse collapse in">
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th style="width: 10%">产品</th>
                        <th style="width: 10%">数量</th>
                        <th style="width: 25%">产品码类型</th>
                        <th>申请时间</th>
                        <th style="width: 10%">操作</th>
                    </tr>
                    <tr ng-repeat="b in listPanel.newProductKeyBatches">
                        <td>{{b.productBase.name}}</td>
                        <td>{{b.quantity}}</td>
                        <td>
                            {{formatProductKeyTypes(b.productKeyTypes)}}
                        </td>
                        <td>{{utils.formatDateString(b.createdDateTime)}}</td>
                        <td>
                            <button class="btn btn-primary btn-labeled fa fa-cloud-download"
                                    ng-click="listPanel.download(b.id)">下载
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div ng-show="listPanel">
        <div class="panel panel-bordered-primary ">
            <a href="">
                <div class="panel-heading">
                    <h3 class="panel-title"> 产品码批次</h3>
                </div>
            </a>

            <div class="panel-body"> <!--panel-collapse collapse in-->
                <table class="table table-hover">
                    <thead id="sort-bar">
                    <tr>
                        <th>#</th>
                        <th data-sort-field="quantity">数量</th>
                        <th>产品码类型</th>
                        <th>产品</th>
                        <th data-sort-field="statusCode">状态</th>
                        <th data-sort-field="createdDateTime">申请时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="b in listPanel.table.pageable.data track by b.id" data-id="{{b.id}}">
                        <td>{{$index + 1}}</td>
                        <td>{{b.quantity}}</td>
                        <td>
                            {{formatProductKeyTypes(b.productKeyTypes)}}
                        </td>
                        <td>{{productBaseMap[b.productBaseId].name}}</td>
                        <td>
                            <div class="label label-table"
                                 data-status.code="{{b.status.code}}"
                                 ng-class="{'label-success': b.status.code==='available',
                                            'label-info': b.status.code==='creating',
                                            'label-warning': b.status.code!=='available' && b.status.code!=='creating'}">
                                {{b.status.name}}
                            </div>
                        </td>
                        <td>{{utils.formatDateString(b.createdDateTime)}}</td>
                        <td>
                            <button class="btn btn-primary btn-labeled fa fa-cloud-download"
                                    ng-click="listPanel.download(b.id)">下载
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right pagination" ng-init="pageable=listPanel.table.pageable">
                    <ul class="pagination">
                        <li ng-class="{'disabled':pageable.isFirst()}"
                            class="page-first">
                            <a href="" ng-click="pageable.first()">
                                <i class="fa fa-fw fa-angle-double-left"></i>
                            </a>
                        </li>
                        <li ng-class="{'disabled':pageable.isFirst()}"
                            class="page-pre">
                            <a href="" ng-click="pageable.previous()">
                                <i class="fa fa-fw fa-angle-left"></i>
                            </a>
                        </li>
                        <li ng-repeat="p in pageable.adjacentPages(5)"
                            ng-class="{'active':p===pageable.page}"
                            class="page-number">
                            <a href=""
                               ng-click="pageable.goto(p)">
                                {{p+1}}
                            </a>
                        </li>
                        <li ng-class="{'disabled':pageable.isLast()}"
                            class="page-next">
                            <a href="" ng-click="pageable.next()">
                                <i class="fa fa-fw fa-angle-right"></i>
                            </a>
                        </li>
                        <li ng-class="{'disabled':pageable.isLast()}"
                            class="page-last">
                            <a href="" ng-click="pageable.last()">
                                <i class=" fa fa-fw fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<iframe width="0" height="0" frameborder="0" ng-src="{{listPanel.downloadFrameSrc}}"></iframe>

<!--===================================================-->
<!--End page content-->
