<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">消息管理</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->

<!--Page content-->
<!--===================================================-->

<div id="page-content">
    <div ng-show="messageTable" class="panel panel-bordered-primary">
        <div class="panel-body"> <!--panel-collapse collapse in-->
            <table class="table table-hover">
                <thead id="sort-bar">
                <tr>
                    <th>#</th>
                    <th data-sort-field="title">名称</th>
                    <th>内容</th>
                    <th data-sort-field="type">类型</th>
                    <th data-sort-field="status">状态</th>
                    <th data-sort-field="created_datetime">创建时间</th>
                    <th data-sort-field="expired_datetime">过期时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="m in messageTable.pageable.data track by m.id" data-id="{{m.id}}">
                    <td>{{$index + 1}}</td>
                    <td>{{m.title}}</td>
                    <td>{{m.body}}</td>
                    <td>{{formatMessageType(m.type)}}</td>
                    <td>{{formatMessageStatus(m.status)}}</td>
                    <td>{{utils.formatDateString(m.created_datetime)}}</td>
                    <td>{{utils.formatDateString(m.expired_datetime)}}</td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right pagination">
                <ul class="pagination">
                    <li ng-class="{'disabled':messageTable.pageable.isFirst()}"
                        class="page-first">
                        <a href="" ng-click="messageTable.pageable.first()">
                            <i class="fa fa-fw fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li ng-class="{'disabled':messageTable.pageable.isFirst()}"
                        class="page-pre">
                        <a href="" ng-click="messageTable.pageable.previous()">
                            <i class="fa fa-fw fa-angle-left"></i>
                        </a>
                    </li>
                    <li ng-repeat="p in messageTable.pageable.adjacentPages(5)"
                        ng-class="{'active':p===messageTable.pageable.page}"
                        class="page-number">
                        <a href=""
                           ng-click="messageTable.pageable.goto(p)">
                            {{p+1}}
                        </a>
                    </li>
                    <li ng-class="{'disabled':messageTable.pageable.isLast()}"
                        class="page-next">
                        <a href="" ng-click="messageTable.pageable.next()">
                            <i class="fa fa-fw fa-angle-right"></i>
                        </a>
                    </li>
                    <li ng-class="{'disabled':messageTable.pageable.isLast()}"
                        class="page-last">
                        <a href="" ng-click="messageTable.pageable.last()">
                            <i class=" fa fa-fw fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>