body{
    background-color: #fafafa;
}
ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}
.editorBox{
    margin: 10px auto;
    width: 100%;
    overflow: hidden;
}
.ueditorWrap{
    clear: both;
    position: relative;
}
#JS_insertConfig{
    top: -14px;
    right: 0;
    position: absolute;
}
.ueditorWrap .editor-tips{
    position: absolute;
    top: 80px;
    right: 8px;
    z-index: 1000;
}

.mask-icon{
    width: 22px!important;
    height: 22px;
    overflow: hidden;
    display: block;
    position: absolute;
    z-index: 1000;
    top: 31px;
    left: 300px;
    cursor: pointer;
}
.mask-icon-upload-img{
    left: 202px;
}
.mask-icon-video{
    left: 227px;

}
#edit_avatar{
    cursor: pointer;
    opacity: 0;
    filter:alpha(opacity=0);
}
.ueditor-box{
    position: relative;
}
@-moz-keyframes circle {
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(359deg);}
}
@-webkit-keyframes circle {
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(359deg);}
}
@-o-keyframes circle {
    0% {-o-transform: rotate(0deg);}
    100% {-o-transform: rotate(359deg);}
}
@-ms-keyframes circle {
    0% { -ms-transform: rotate(0deg);}
    100% { -ms-transform: rotate(359deg);}
}
@keyframes circle {
    0% {transform: rotate(0deg);}
    100% { transform: rotate(359deg);}
}
.ani-flower{
    width: 32px;
    height: 32px;
    background-image: url("../img/editor/Snake.png");
    background-size: 32px 32px;
    margin: 15px 0 20px 106px;
    -moz-animation: circle 2s infinite linear;
    -o-animation: circle 2s infinite linear;
    -webkit-animation: circle 2s infinite linear;
    animation: circle 2s infinite linear;
}
.viewBox{
    width: 400px;
    height: 800px;
    float: left;
    overflow: hidden;
    position: relative;
}


.viewCon{
    width: 320px;
    height: 565px;

    background-color: #fff;
    word-break: break-all;
    position: absolute;
    left: 30px;
    top: 120px;
}
.viewCon img{
    width: 100%;
}
#editor_id{
    float: left;
}
.ke-container{
    width: 772px!important;
}
.styleBox{
    float: left;
    width:760px;
    padding:15px;
    background-color: #fff;
    border:1px solid #ddd;
    position: relative;
}
.arrow-box{
    position: absolute;
    display: inline-block;
    top: 200px;
    left: -15px;
}
.arrow-out{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #C5C2C2;
    border-right-style: solid;
}
.arrow-in{
    display: inline-block;
    width: 0;
    height: 0;
    border-width: 15px;
    border-style: dashed;
    border-color: transparent;
    border-left-width: 0;
    border-right-color: #fff;
    border-right-style: solid;
    margin-left: -17px;
}
.use-tips{
    color: #dd0000;
    margin: -5px 0 5px 0;
    font-size: 16px;
}
.h3Title{
    text-align: center;
    color: #6DBC0C;
    margin-top: 5px;
}
.notice-box{
    width: 100%;
    border-radius: 5px!important;
    float: left;
    padding: 8px 5px 0px 5px;
    margin-bottom: 5px;
    line-height: 22px;
}
.edi-input-text{
    display: inline-block;
    margin: 5px 0 10px 0px;
}
#addPic_avatar{
    margin:0 10px;
}
.upload-img-box{
    width: 100%;
    margin: 10px 0;
}
.red{
    color: red;
}
.gray{
    color: #ccc;
    font-style: normal;
}
.nav-tabs{
    border-bottom: 1px solid #6DBC0C;
}
.nav>li>a:hover, .nav>li>a:focus{
    /* background-color: #6DBC0C; */
    /* color: #fff; */
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    /* border:1px solid #6DBC0C; */
    /* border-bottom-color: transparent; */
}
.nav-tabs>li>a:hover {
    /* border-color: #6DBC0C; */
}
.nav>li>a{
    padding: 5px 15px;
}
.editorStyle{
    width: 100%;
    padding: 0;
    float: left;
    /*	height: 200px;*/
}
blockquote p{
    font-size: 16px;
}
.nav-tabs, .nav-pills{
    margin-bottom: 10px;
}
.stylePannel{
    width: 594px;
    margin-right: 6px;
    padding: 10px;
    height: 360px;
    overflow: auto;
    float: left;
    border:1px solid #cbcbcb;
}
.stylePannel li{
    float: left;
    padding: 5px;
    margin: 3px 0;
    width: 100%;
    border:1px solid #f5821f;
}
.stylePannel li:hover{
    border:2px solid #5cbb3f;
}
.stylePannel .hover{
    border:2px solid #5cbb3f;
}
.selColorBox{
    float: left;
    width: 200px;
    height: 360px;
    border:1px solid #cbcbcb;
}
.selColor{
    background-color:rgba(218,218,218,0.9);
}
.tab-content .tab-pane{
    float: left;
}
.changeStyle{
    width: 800px;
    overflow: hidden;
    margin-top: -10px;
}
.selectedStyle{
    width: 698px;
    height: 88px;
    padding: 10px;
    float: left;
    border: 2px solid #5cbb3f;
    margin-top: 10px;
    overflow: auto;
    overflow-x: hidden;
}
.selectedStyleoOne, .selectedStyleoTwo{
    width: 698px;
    height: 88px;
    padding: 10px;
    float: left;
    border: 2px solid #5cbb3f;
    margin-top: 10px;
    overflow: auto;
    overflow-x: hidden;
}
.borderBox{
    float: left;
    width:800px;
}
.modal-header{
    padding: 8px 10px;
}
.J_conBtn{
    float:left;
    width:80px;
    margin:37px 0 0 20px;
}
legend{
    width:auto!important;
    border-bottom:none;
}
.edui-editor-bottomContainer{
    display: none;
}
.ediTitle{
    width:100%;
    border-bottom:1px solid #ddd;
    margin: 5px 0 15px 0;
    overflow: hidden;
}
.ediTitle a{
    font-size: 16px;
    font-weight: 700;
    border-bottom:3px solid #fafafa;
    padding:0 10px 10px 10px;
    text-decoration: none;
    color: #333;
    float: left;
    font-weight: normal;
}
.ediTitle a:hover{
    border-bottom:3px solid #000;
    font-weight: bold;
}
.ediTitle .active a{
    border-bottom:3px solid #000;
    font-weight: bold;
}
.J_addURL{
    margin: 10px 0 10px 2px;
    display: inline-block;
}
.js-url-area{
    display: none;
    margin-top:10px;
}
.opera-btn{
    margin: 10px 0 0 0;
}
.w100{
    width: 100%;
}
.wx-input-style{
    display: inline-block;
    width:60%;
}
.disNone{
    display: none;
}
.gary-icon{
    color: #7F7D7D;
    font-size:19px;
    vertical-align:middle;
    margin-right: 5px;
}

i{
    font-style: normal;
}
/*多图文*/
.appmsg-content{
    width: 100%;
    overflow: hidden;
}
.over-mark{
    width: 320px;
    height: 565px;
    overflow-y:auto;
    overflow-x:hidden
}
.appmsg-item{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding:10px 0;
}
.appmsg-h6{
    color: #8d8d8d;
}
.disget-text{
    color: #808080;
    padding: 5px 0;
    height: 46px;
    line-height: 23px;
}
.padding-10{
    padding:10px;

}
.padding-10 .appmsg-thumb{
    overflow: hidden;
    width: 100%;
    height: 160px;
}
.appmsg-wrap{
    position: relative;
    overflow: hidden;
}
.padding-10 .appmsg-thumb img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.appmsg-thumb img{
    position: absolute;
    top: 0;
    left: 0;
    width: 78px;
    height: 78px;
}
.padding-10 .appmsg-titleh4{
    width: 100%;
    font-size: 14px;
    color: #fff;
    background:rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#b2000000,endcolorstr=#b2000000);
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0px;
    margin:0;
    z-index: 2;
    height: 40px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.padding-10 .appmsg-default-suo{
    width: 100%;
    height: 160px;
    background-color: #ececec;
    color: #ccc2c0;
    text-align: center;
    display: block;
    padding-top: 60px;
    font-size: 16px;
}
.appmsg-default-suo{
    width: 78px;
    height: 78px;
    background-color: #ececec;
    color: #ccc2c0;
    text-align: center;
    display: block;
    padding-top: 30px;
    font-size: 16px;
}
.appmsg-mark{
    width: 100%;
    height: 100%;
    background: rgba(243,243,243,0.85);
    position: absolute;
    top:0;
    left: 0;
    text-align: center;
    padding-top:12%;
    color: #696666;
    display: none;
    z-index: 3;
    cursor: move;
}
.J_move{
    position: absolute;
    bottom: 5px;
    left: 100px;
    font-size: 12px!important;
}
.ui-state-highlight {
    height: 99px;
    background: #c6dcef!important;
    border-color: #428bca!important;
}
.padding-10 .appmsg-mark{
    padding-top: 25%;
}
.hover .appmsg-mark{
    display: block;
}
.padding-10 .appmsg-mark{
    width: 300px;
    height: 160px;
    left: 10px;
    top: 10px;
}
.appmsg-mark a{
    font-size: 20px;
    text-decoration: none;
    margin-right: 5px;
    color: #b2b2b2;
}
.appmsg-mark a:hover{
    color: #373636;
}
.appmsg-titleh4{
    float: left;
    width:68%;
    height: 50px;
    line-height: 21px;
    overflow: hidden;
    font-size: 14px;
    padding:10px 0 10px 10px;
    color: #8d8d8d;
}
.appmsg-thumb{
    float: left;
    width: 78px;
    height: 78px;
    overflow: hidden;
    position: relative;
}
.has_thumb img{
    display: block;
}
.create-access{
    width: 300px;
    padding:25px 10px;
    text-align: center;
    border:2px dotted #d9dadc;
    display: inline-block;
    margin: 10px;
    color: #d9dadc;
    font-size: 20px;
}
.create-access:hover{
    border-color: #b3b3b3;
    color: #b3b3b3;
}
.editorBox{
    width: 1200px;
    margin: 10px auto;
    overflow: hidden;
}
#loginForm .form-control{
    width: 80%;
    display: inline-block;
}
#loginForm label{
    width: 80px;
    text-align: right;
}
#captcha{
    width: 40%!important;
}
.check-code{
    width: 85px;
    height: 34px;
    margin: 0 5px;
}
.login-signup-forgot-link{
    font-size: 12px;
    margin-left: 85px;
}
#loginForm{
    margin-bottom: -35px;
}
.modal-footer{
    text-align: center;
}

/*素材管理*/
.create_access {
    display: block;
    border: 2px dotted #d9dadc;
    line-height: 80px;
    text-align: center;
}
.create_access:hover {
    border-color: #b3b3b3;
}
.create_access:hover .add_gray {
    display: none;
}
.icon36_common.add_gray {
    background: url("../img/editor/base_z1fd29b.png") 0 -2791px no-repeat;
}
.icon36_common {
    width: 36px;
    height: 36px;
    vertical-align: middle;
    display: inline-block;
    line-height: 300px;
    overflow: hidden;
}
.create_access:hover a {
    display: inline-block;
}
.create_access:hover a:hover {
    color: #b3b3b3;
}
.create_access a {
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    color: #d9d9d9;
    font-size: 14px;
    line-height: normal;
}
.create_access i {
    cursor: pointer;
}
.icon_appmsg_create {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 0 no-repeat;
    width: 38px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
}
.create_access a strong {
    display: block;
    font-weight: 400;
    font-style: normal;
}
.create_access a {
    display: none;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    color: #d9d9d9;
    font-size: 14px;
    line-height: normal;
}
.icon_appmsg_create.multi {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -96px no-repeat;
}
.create_access i {
    cursor: pointer;
}
a:hover .icon_appmsg_create {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -48px no-repeat;
}
a:hover .icon_appmsg_create.multi {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -144px no-repeat;
}

.icon_appmsg_create.sone {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -381px no-repeat;
    width: 25px;
    height: 25px;
}
a:hover .icon_appmsg_create.sone {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -409px no-repeat;
}

.icon_appmsg_create.smui {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -438px no-repeat;
    width: 25px;
    height: 25px;
}
a:hover .icon_appmsg_create.smui {
    background: url("../img/editor/media_list_z1ec5f7.png") 0 -466px no-repeat;
}
.newEditor{
    margin-left: 12px;
    margin-top: 0px;
    display: inline-block;
    font-size: 16px;
}
.new-list{
    width: 1220px;
    overflow: hidden;
    position: relative;
}
.new-list li{
    float: left;
    width: 280px;
    /*margin: 0 25px 25px 0 ;*/
    border: 1px solid #d9dadc;
    background-color: #fff;
}
.list-img{
    width: 68%;
}
.list-control a{
    width: 50%;
    text-align: center;
    float: left;
    border-right: 1px solid #ddd;
    background-color: #ececec;
    color: #b2b2b2;
    font-size: 18px;
}
.list-control a:hover{
    color: #b2b2b2;
}
.list-control a .fa{
    font-size: 18px;
}
.mini-login-btn{
    float: left;
    margin-left: 85px;
    width: 85px;
}
.qqlogin{
    float: right;
    margin-right: 18px;
    margin-top: 10px;
    color: #0da3e2;
}
#addPic_avatar{
    opacity: 0;
    filter:alpha(opacity=0);
}
#mutipaginationMain,#paginationMain{
    margin-right: 20px;
}
.infoBorder{
    border:1px solid #ddd;
    padding: 10px 20px;
    background-color: #fff;
    margin: 20px 0;
}
.infoBorder h6{
    color: #fd7802;
    font-weight: bold;
}
.noLoginTips{
    width: 100%!important;
    text-align: center;
    height: 100px;
    border: none!important;
    background-color: #fafafa!important;
    margin-top: 30px;
    font-size: 18px;
    color: #979393;
}
#J_ydLogin{
    font-size: 16px;
}
.tooltip {
    z-index: 100000;
}
.rzTips{
    color: #f6821f;
    margin-left: 3px;
}
.w300{
    width: 340px;
}
.vedio-title{
    float: left;
    line-height: 30px;
    margin-right: 5px;
    width: 112px;
    text-align: right;
}
.vedio-veiw{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border: 1px solid #ddd;
}
.vedio-detial{
    margin-top:20px;
}

.top-area{
    padding: 20px;
    background-color: #e2eef8;
    border: 1px solid #9ec4e4;
    margin-bottom: 20px;
}
.top-area .am-form-field,.top-area .am-btn{
    border-color: #428bca;
    height: 40px;
}

.edui-default .edui-toolbar .edui-state-disabled .edui-icon{
    opacity: 1 !important;
}

.btn.green {
    color: white;
    text-shadow: none;
    background-color: #35aa47;
}
.btn.btn-yellow{
    color: #fff;
    background-color: #f6821f;
}
.btn.btn-yellow:hover{
    background-color: #db6f12;
}
.J_uploadStyle .img-upload,.J_uploadStyle .tipUpload,.J_uploadStyle .type-title .orangeColor{
    display: none;
}

/*.J_addStyleBtn{*/
    /*pointer-events: none;*/
    /*position: relative;*/
/*}*/

/*.J_addStyleBtn:after{*/
    /*z-index: 10;*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 34px;*/
    /*padding: 5px;*/
    /*background-color: rgba(255, 255, 255, 0.91);*/
    /*left: 0px;*/
    /*top: -1px;*/
    /*content: '要添加自定义样式，请在【素材管理】下的【设置常用模板】添加，功能更强大，可根据公众号设置特有样式' !important;*/
/*}*/