doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title
    link(href="./images/favicon.ico", rel="icon", type="image/ico")
    link(href="./stylesheets/bootstrap.min.css", rel="stylesheet")
    link(href="./stylesheets/home_page.min.css", rel="stylesheet")
    script(src="./javascripts/zepto.min.js", type="text/javascript")
    script(src="./javascripts/home.js", type="text/javascript")
  body
    #loading.loading
      p 努力加载中...
      p 请耐心等待...
    #divBody.container(style='display:none')
      .box-group
        .panel.box.box-primary
          .row
            #divScanValidKey(style='display:none', width='100%')
              img#imgProduct(src='', width='100%')
              .float-img.animationDiv
                img#imgManufacture.img-circle(src='', width='60px', height='60px')
              #divShare.bshare-custom.icon-medium.share-action
                a.bshare-neteasemb(title='分享到网易微博', href='javascript:void(0);')
                a.bshare-sinaminiblog(title='分享到新浪微博', href='javascript:void(0);')
                a.bshare-qqmb(title='分享到腾讯微博', href='javascript:void(0);')
            #divScanInValidKey.col-xs-12.col-md-12(align='center', style='display:none; position:relative;top:50px;')
              img#img44.img-circle(src='', width='200px', height='200px')
        .panel.box.box-primary(style='position:relative;top:-30px;')
          .row
            #divScanResultValidKey.col-xs-12.col-md-12(style='display:none', align='center')
              div
                img#imgProStatus.img-rounded(src='', height='90px', width='90px')
              br
              div
                span#proStatus(align='center')
        .panel.box.box-primary
          .row
            #divScanDetailsValidKey.col-xs-12.col-md-12(style='display:none; position:relative; top:-30px;')
              .nav-tabs-custom
                ul.nav.nav-tabs
                  li#li_tab_a_1.active(style='width: 33.3%;text-align: center')
                    a#tab_a_1(data-toggle='tab') 基本信息
                  li#li_tab_a_2(style='width: 33.3%;text-align: center')
                    a#tab_a_2(data-toggle='tab') 扫描信息
                  li#li_tab_a_3(style='width: 33.3%;text-align: center')
                    a#tab_a_3(data-toggle='tab') 物流跟踪
                #tabContent.tab-content
                  #tab_1.tab-pane.active
                    .panel.box.box-primary
                      table.table.table-condensed(style='margin-top:20px')
                        tr
                          td(colspan='2')
                            table#detailItems.table.table-condensed
                  #tab_2.tab-pane
                    .panel.box.box-primary
                      ul#scanRecords.timeline
                        li
                          div(style='text-align: center')
                            .timeline-body
                              p 您是第一次扫描！
                  #tab_3.tab-pane
                    .panel.box.box-primary
                      ul#divLogistics.timeline
                        li
                          div(style='text-align: center')
                            .timeline-body
                              p 您没有物流信息！
            #divScanDetailsInValidKey.col-xs-12.col-md-12(align='center', style='display:none;background-color:#47ABEF;position:relative;top:100px;')
              h3
                p 云溯科技提醒
                p 无效的云溯产品码！
      #divFooterValidKey.row
        .col-xs-12.col-md-12.item-action
          .pull-left.contact
            a#contactPhone(href='', style='color:white') 客服热线
          .pull-right.buy
            a#buyStore(href='', style='color:white') 购买产品
    script(type='text/javascript', charset='utf-8', src='http://static.bshare.cn/b/buttonLite.js#style=-1&uuid=&pophcol=2&lang=zh')
    script(type='text/javascript', charset='utf-8', src='http://static.bshare.cn/b/bshareC0.js')
