<div class="row">
    <div class="col-md-2">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" ng-repeat="data in dataTable.units"
                ng-class="{'active':dataTable.selUnits == data}"><a
                    href="" aria-controls="home" role="tab"
                    data-toggle="tab" ng-click="dataTable.setUnits(data)">{{data}}</a></li>
        </ul>
    </div>

    <div class="col-md-10">
        <!-- Nav tabs -->

        <ul class="nav nav-tabs" role="tablist">
            <li><a href="" ng-click="dataTable.goLeft()">
                <i class="fa fa-fw fa-lg fa-angle-left"></i>
            </a></li>
            <li role="presentation" ng-repeat="data in dataTable.timeLine"
                ng-class="{'active':dataTable.selTimes == data}"><a
                    href="" aria-controls="home" role="tab"
                    data-toggle="tab" ng-click="dataTable.setTimes(data)">{{data}}</a></li>
            <li><a href="" ng-click="dataTable.goRight()">
                <i class="fa fa-fw fa-lg fa-angle-right"></i>
            </a></li>
        </ul>

    </div>
</div>