<ul class="pagination">
    <li ng-class="{'disabled':pageable.isFirst()}"
        class="page-first">
        <a href="" ng-click="pageable.first()">
            <i class="fa fa-fw fa-angle-double-left"></i>
        </a>
    </li>
    <li ng-class="{'disabled':pageable.isFirst()}"
        class="page-pre">
        <a href="" ng-click="pageable.previous()">
            <i class="fa fa-fw fa-angle-left"></i>
        </a>
    </li>
    <li ng-repeat="p in pageable.adjacentPages()"
        ng-class="{'active':p===pageable.page}"
        class="page-number">
        <a href=""
           ng-click="pageable.goto(p)">
            {{p+1}}
        </a>
    </li>
    <li ng-class="{'disabled':pageable.isLast()}"
        class="page-next">
        <a href="" ng-click="pageable.next()">
            <i class="fa fa-fw fa-angle-right"></i>
        </a>
    </li>
    <li ng-class="{'disabled':pageable.isLast()}"
        class="page-last">
        <a href="" ng-click="pageable.last()">
            <i class=" fa fa-fw fa-angle-double-right"></i>
        </a>
    </li>
</ul>