<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="bootstrap-3.3.4-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <title>用户使用协议</title>
</head>
<body>

<p class=" lead text-center
">
    云溯个人版用户服务协议
</p>

<div style="padding-left: 20px; padding-right: 20px;">
    <div>
        <p>
            本《服务协议》（下称《协议》）是您（下称“用户”）与云溯公司（下称“云溯”）之间关于用户注册、登录、使用“云溯”服务所订立的协议。“用户”是指注册、登录、使用、浏览本服务的个人或组织。云溯在此特别提醒用户认真阅读、充分理解本《协议》各条款，包括免除或限制云溯责任的免责条款及对用户的权利限制条款。请您审慎阅读并选择接受或不接受本《协议》（未成年人应在法定监护人陪同下阅读）。除非您接受本《协议》所有条款，否则您无权注册、登录或使用本协议所涉相关服务。您对本协议的接受即受全部条款的约束，包括接受云溯公司对任一服务条款随时所做的任何修改。本《协议》可由云溯随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站查阅最新版协议条款。在云溯修改《协议》条款后，如果用户不接受修改后的条款，请立即停止使用云溯提供的服务，用户继续使用云溯提供的服务将被视为已接受了修改后的协议。您的注册、登录、使用等行为将视为对本《协议》的接受，并同意接受本《协议》各项条款的约束。
        </p>
    </div>
    <p>

    <h3>一、使用原则</h3>
    <ol>
        <li>用户通过手机号完成申请注册手续后，获得该云溯帐号的使用权，该使用权仅属于申请注册人，禁止赠与、借用、租用、转让或售卖。云溯公司因经营需要，有权冻结或删除用户的云溯帐号。</li>
        <li>用户有权更改、删除在云溯上的个人资料、注册信息及传送内容等，但需注意，删除有关信息的同时也会删除任何您储存在系统中的文字和图片。用户需承担该风险。</li>
        <li>用户有责任妥善保管注册帐号信息及帐号密码的安全，用户需要对注册帐号以及密码下的行为承担法律责任。用户同意在任何情况下不使用其他成员的帐号或密码。在您怀疑他人在使用您的帐号或密码时，您同意立即通知云溯公司。</li>
        <li>用户应遵守本协议的各项条款，正确、适当地使用本服务，如因用户违反本协议中的任何条款，云溯公司有权依据协议暂时冻结该云溯帐号，甚至终止对违约用户云溯帐号提供服务。</li>
        <li>
            云溯服务为提供网络服务而使用的任何软件（包括但不限于软件中所含的任何图像、照片、动画、录像、录音、音乐、文字和附加程序、随附的帮助材料）的一切权利均属于该软件的著作权人，未经该软件的著作权人许可，用户不得对该软件进行反向工程（reverse
            engineer）、反向编译（decompile）或反汇编（disassemble），或以其他方式发现其原始编码，以及实施任何涉嫌侵害著作权的行为。
        </li>
    </ol>

    <h3>二、承诺与保证</h3>
    <ol>
        <li>
            用户保证，其不得并禁止直接或间接的：
            <ul>
                <li>删除、隐匿、改变云溯服务上显示或其中包含的任何专利、版权、商标或其他所有权声明；</li>
                <li>以任何方式干扰或企图干扰云溯服务网站任何部分或功能的正常运行；</li>
                <li>未获得云溯事先书面同意以书面格式或图形方式使用源自云溯的任何注册或未注册的作品、服务标志、公司徽标(LOGO)、URL或其他标志；</li>
                <li>
                    使用任何标志，包括但不限于以对此类标志的所有者的权利的玷污、削弱和损害的方式使用云溯标志，或者以违背本协议的方式为自己或向其他任何人设定或声明设定任何义务或授予任何权利或权限，除非云溯以书面方式指明，否则，用户不得导出任何用户信息，并且必须在获取任何用户信息或其他云溯服务内容后的
                    24 小时内停止使用和删除它们；
                </li>
                <li>经授权冒充他人或获取对云溯服务的访问权；或者未经用户明确同意，让任何其他人亲自识别该用户。</li>
                <li>用户违反上述任何一款的保证，云溯均有权就其情节，对其做出警告、屏蔽、直至取消资格的处罚；如因用户违反上述保证而给云溯服务或云溯的任何合作伙伴造成损失，用户自行负责承担一切法律责任并赔偿损失。</li>
            </ul>
        </li>
        <li>
            用户的承诺：
            <ul>
                <li>
                    用户利用云溯服务提供的网络服务传播的内容，不得含有任何违反国家法律法规政策的信息，包括但不限于下列信息：
                    <ol>
                        <li>反对宪法所确定的基本原则的；</li>
                        <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                        <li>损害国家荣誉和利益的；</li>
                        <li>煽动民族仇恨、民族歧视，破坏民族团结的；</li>
                        <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                        <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                        <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                        <li>侮辱或者诽谤他人，侵害他人合法权益的；</li>
                        <li>含有法律、行政法规禁止的其他内容的。</li>
                    </ol>
                </li>
                <li>
                    用户不得为任何非法目的而使用本网络服务系统；不得以任何形式使用云溯服务侵犯云溯的商业利益，包括并不限于发布非经云溯许可的商业广告；不得利用云溯服务网络服务系统进行任何可能对互联网或移动网正常运转造成不利影响的行为；
                </li>
                <li>
                    用户不得利用云溯服务的服务从事以下活动：
                    <ol>
                        <li>未经允许，进入计算机信息网络或者使用计算机信息网络资源的；</li>
                        <li>未经允许，对计算机信息网络功能进行删除、修改或者增加的；</li>
                        <li>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的；</li>
                        <li>故意制作、传播计算机病毒等破坏性程序的；</li>
                        <li>其他危害计算机信息网络安全的行为。</li>

                    </ol>
                </li>
                <li>
                    如因用户利用云溯服务提供的网络服务传播的内容存在权利瑕疵或侵犯了第三方的合法权益（包括但不限于专利权、商标权、著作权及著作权邻接权、肖像权、隐私权、名誉权等）而导致云溯或与云溯合作的其他单位面临任何投诉、举报、质询、索赔、诉讼；或者使云溯或者与云溯合作的其他单位因此遭受任何名誉、声誉或者财产上的损失，用户应积极地采取一切可能采取的措施，以保证云溯或者与云溯合作的其他单位免受上述索赔、诉讼的影响。同时用户对云溯或者与云溯合作的其他单位因此遭受的直接及间接经济损失负有全部的损害赔偿责任。
                </li>
            </ul>
        </li>
    </ol>

    <h3>三、隐私保护</h3>
    <ul>
        <li>
            尊重用户个人隐私信息的私有性是云溯的一贯制度，云溯将会采取合理的措施保护用户的个人隐私信息，除法律或有法律赋予权限的政府部门要求或用户同意等原因外，云溯未经用户同意不向除合作单位以外的第三方公开、透露用户个人隐私信息。但是，用户在注册时选择同意，或用户与云溯及合作单位之间就用户个人隐私信息公开或使用另有约定的除外，同时用户应自行承担因此可能产生的任何风险，云溯对此不予负责。同时，为了运营和改善云溯的技术和服务，云溯将可能会自行收集使用或向第三方提供用户的非个人隐私信息，这将有助于云溯向用户提供更好的用户体验和提高云溯的服务质量。用户同意，在使用云溯服务时也同样受云溯隐私政策的约束。当您接受本协议条款时，您同样认可并接受云溯公司隐私政策的条款。
        </li>
    </ul>

    <h3>四、法律责任及免责</h3>
    <ol>
        <li>用户违反本《协议》或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户同意赔偿云溯、合作公司与关联公司，并使之免受损害。
        </li>
        <li>
            本服务同大多数互联网服务一样，受包括但不限于用户原因、网络服务质量、社会环境等因素的差异影响，可能受到各种安全问题的侵扰，如他人利用用户的资料，造成现实生活中的骚扰；用户下载安装的其它软件或访问的其他网站中含有“特洛伊木马”等病毒，威胁到用户的计算机信息和数据的安全，继而影响本服务的正常使用等等。用户应加强信息安全及使用者资料的保护意识，要注意加强密码保护，以免遭致损失和骚扰。
        </li>
        <li>
            用户须明白，使用本服务因涉及Internet服务，可能会受到各个环节不稳定因素的影响。因此，本服务存在因不可抗力、计算机病毒或黑客攻击、系统不稳定、用户所在位置、用户关机以及其他任何技术、互联网络、通信线路原因等造成的服务中断或不能满足用户要求的风险。用户须承担以上风险，云溯公司不作担保。云溯及合作单位承诺在第一时间内与相关单位配合，及时处理进行修复，但用户因此而遭受的一切损失，云溯及合作单位不承担责任。
        </li>
        <li>
            云溯公司定义的信息内容包括：文字、软件、声音、相片、录像、图表；云溯公司为用户提供的商业信息，所有这些内容受版权、商标权、和其它知识产权和所有权法律的保护。所以，用户只能在云溯公司和广告商授权下才能使用这些内容，而不能擅自复制、修改、编纂这些内容、或创造与内容有关的衍生产品。
        </li>
        <li>在任何情况下，云溯公司均不对任何间接性、后果性、惩罚性、偶然性、特殊性或刑罚性的损害（包括因用户使用云溯服务而遭受的利润损失）承担责任。
        </li>
    </ol>

    <h3>五、其他条款</h3>
    <ol>
        <li>云溯公司郑重提醒用户注意本《协议》中免除云溯公司责任和加重用户义务的条款，请用户仔细阅读，自主考虑风险。未成年人应在法定监护人的陪同下阅读本《协议》。以上各项条款内容的最终解释权及修改权归云溯公司所有。
        </li>
        <li>本《协议》所定的任何条款的部分或全部无效者，不影响其它条款的效力。</li>
        <li>
            本《协议》签订地为广州。本《协议》的解释、效力及纠纷的解决，适用于中华人民共和国法律。若用户和云溯之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交云溯住所地即广州市有管辖权的人民法院管辖。
        </li>
        <li>本《协议》的版权由云溯所有，云溯保留一切解释和修改权利。</li>
        <li>若您对云溯公司及本服务有任何意见，欢迎垂询云溯公司客服中心。云溯客户服务热线：400-071-0679，<a href="http://www.yunsu.co"
                                                                   class="btn btn-info btn-sm" role="button">服务网站</a>
        </li>
    </ol>

    </p>
</div>
</body>
</html>