.main-content {
    min-height: 300px;
}
.alert-wrap {
    position: absolute;
    display: table;
    top: 50px;
    width: 100%;
    text-align: center;
    z-index: 9999;
}

.alert-wrap .alert {
    margin-top: 0;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 200px;
}