<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">账号组管理</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Page content-->
<!--===================================================-->

<!-- Main content -->
<div id="page-content">
    <div ng-show="group.groupTable.data" class="panel panel-bordered-primary">

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">账号组创建</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="groupForm" novalidate name="groupForm"
                                      ng-submit="group.createGroup(groupForm.$valid)">
                                    <div class="form-group has-feedback" id="divGroupName"
                                         ng-class="{ 'has-error' : groupForm.groupName.$invalid && !groupForm.groupName.$pristine, 'has-success' : groupForm.groupName.$valid && !groupForm.groupName.$pristine}">
                                        <label for="groupName" class="col-md-3 control-label">账号组名</label>

                                        <div class="col-md-9">
                                            <input type="text" id="groupName" placeholder="账号组名"
                                                   name="groupName"
                                                   class="form-control" ng-model="group.name" novalidate required/>
                                            <span class="glyphicon glyphicon-ok form-control-feedback"
                                                  ng-show="groupForm.groupName.$dirty && groupForm.groupName.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  ng-show="groupForm.groupName.$dirty && groupForm.groupName.$invalid"></span>

                                            <p ng-show="groupForm.groupName.$invalid && !groupForm.groupName.$pristine"
                                               class="help-block">请输入账号组名</p>
                                        </div>
                                    </div>
                                    <div class="form-group has-feedback" id="divGroupDesc"
                                         ng-class="{ 'has-error' : groupForm.groupDesc.$invalid && !groupForm.groupDesc.$pristine, 'has-success' : groupForm.groupDesc.$valid && !groupForm.groupDesc.$pristine}">
                                        <label for="groupDesc" class="col-md-3 control-label">账号组描述</label>

                                        <div class="col-md-9">
                                             <textarea placeholder="账号组描述，不超过200字符" id="groupDesc" rows="4"
                                                       class="form-control" ng-model="group.description"
                                                       name="groupDesc" ng-maxlength="200" novalidate
                                                       required></textarea>
                                             <span class="glyphicon glyphicon-ok form-control-feedback"
                                                   ng-show="groupForm.groupDesc.$dirty && groupForm.groupDesc.$valid"></span>
                                            <span class="glyphicon glyphicon-remove form-control-feedback"
                                                  ng-show="groupForm.groupDesc.$dirty && groupForm.groupDesc.$invalid"></span>

                                            <p ng-show="groupForm.groupDesc.$invalid && !groupForm.groupDesc.$pristine"
                                               class="help-block">请输入账号组描述</p>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="submit" class="btn btn-primary btn-labeled fa fa-group"
                                                ng-disabled="groupForm.$invalid">创建新组
                                        </button>
                                        &nbsp;<i class="fa fa-spinner fa-lg" ng-show="group.spinnerShow"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="treeMenuModal" tabindex="-1" role="dialog" aria-labelledby="treeMenuModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="treeMenuModalLabel">账号组授权</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-2"><i class="fa fa-fw fa-dashboard "></i>&nbsp;<strong>仪表台</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.dashBoardRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.dashBoardRead"
                                                        ng-click="group.auth.authDashBoardRead()"
                                                        ng-disabled="group.auth.disableAll">查看</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-tags"></i>&nbsp;<strong>产品码</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.productKeyRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.productKeyRead"
                                                        ng-click="group.auth.authProductKeyRead()"
                                                        ng-disabled="group.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.productKeyMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.productKeyMng"
                                                        ng-click="group.auth.authProductKeyMng()"
                                                        ng-disabled="group.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-gift"></i>&nbsp;<strong>包装</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.packageRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false" ng-model="groupPermission.packageRead"
                                                        ng-click="group.auth.authPackageRead()"
                                                        ng-disabled="group.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.packageMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false" ng-model="groupPermission.packageMng"
                                                        ng-click="group.auth.authPackageMng()"
                                                        ng-disabled="group.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-truck"></i>&nbsp;<strong>物流</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.logisticsRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.logisticsRead"
                                                        ng-click="group.auth.authLogisticsRead()"
                                                        ng-disabled="group.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.logisticsMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.logisticsMng"
                                                        ng-click="group.auth.authLogisticsMng()"
                                                        ng-disabled="group.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i class="fa fa-fw fa-bar-chart"></i>&nbsp;<strong>报表</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.reportRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="groupPermission.reportRead"
                                                        ng-click="group.auth.authReportRead()"
                                                        ng-disabled="group.auth.disableAll">查看</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-cogs"></i>&nbsp;<strong>设置</strong></label>

                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">产品</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.productRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.productRead"
                                                                ng-click="group.auth.authProductRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.productMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.productMng"
                                                                ng-click="group.auth.authProductMng()"
                                                                ng-disabled="group.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">消息</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.msgRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.msgRead"
                                                                ng-click="group.auth.authMsgRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.msgMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.msgMng"
                                                                ng-click="group.auth.authMsgMng()"
                                                                ng-disabled="group.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">设备</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.deviceRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.deviceRead"
                                                                ng-click="group.auth.authDeviceRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.deviceMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.deviceMng"
                                                                ng-click="group.auth.authDeviceMng()"
                                                                ng-disabled="group.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">账号</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.accountRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.accountRead"
                                                                ng-click="group.auth.authAccountRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.accountMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.accountMng"
                                                                ng-click="group.auth.authAccountMng()"
                                                                ng-disabled="group.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">账号组</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.groupRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.groupRead"
                                                                ng-click="group.auth.authGroupRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : groupPermission.groupMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.groupMng"
                                                                ng-click="group.auth.authGroupMng()"
                                                                ng-disabled="group.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">密码</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : groupPermission.passwordRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="groupPermission.passwordRead"
                                                                ng-click="group.auth.authPasswordRead()"
                                                                ng-disabled="group.auth.disableAll">查看</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-info btn-labeled fa fa-close"
                                        ng-click="group.auth.hideAuthGroupModal()">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addAccountsModal" tabindex="-1" role="dialog"
             aria-labelledby="addAccountsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addAccountsModalLabel">添加账号到组</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="min-height: 200px">
                            <div class="col-md-12">
                                <label class="label label-success">按住Ctrl键多选</label>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select id="selectAccount" data-placeholder="添加账号..." multiple>
                                </select>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="button" class="btn btn-primary btn-labeled fa fa-group"
                                    ng-click="group.addAccountsToGroup()">添加
                            </button>
                            &nbsp;<i class="fa fa-spinner fa-lg" ng-show="group.spinnerShow"></i>
                            <button type="button" class="btn btn-info btn-labeled fa fa-close"
                                    ng-click="group.hideAddAccountsModal()">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteConfirmDialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">删除组</h4>
                    </div>
                    <div class="modal-body">
                        <p>确定删除组名为 <span class="label label-success">{{group.curDeleteGroupName}}</span> 吗？</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" ng-click="group.deleteGroupCancel()">取消</button>
                        <button type="button" class="btn btn-primary" ng-click="group.deleteGroupConfirm()">确定</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <div class="animated slideInRight">
            <div class="col-sm-12 pull-left" style="padding: 20px 20px;" ng-show="groupButtonShow">
                <button id="btn-addrow" class="btn btn-primary btn-labeled fa fa-plus"
                        ng-click="group.showGroupModal()">创建新组
                </button>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead id="sort-bar">
                    <tr>
                        <th>#</th>
                        <th>账号组名</th>
                        <th>账号组描述</th>
                        <th>创建者</th>
                        <th>创建时间</th>
                        <th class="col-xs-2" ng-show="groupButtonShow">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="a in group.groupTable.pageable.data">
                        <td>
                            <span>{{$index + 1}}</span>
                        </td>
                        <td>
                            <span>{{a.name}}</span>
                        </td>
                        <td>
                            <span>{{a.description}}</span>
                        </td>
                        <td>
                            <span>{{a.created_account_id}}</span>
                        </td>
                        <td>
                            <span>{{utils.formatDateString(a.created_datetime)}}</span>
                        </td>
                        <td ng-show="groupButtonShow">
                            <!-- Button trigger modal -->
                            <div class="text-center">
                                <button type="button" class="btn btn-success fa fa-user-secret"
                                        ng-click="group.auth.showAuthGroupModal(a.id)">
                                </button>
                                <button type="button" class="btn btn-info fa fa-user-plus"
                                        ng-click="group.showAddAccountModal(a.id)">
                                </button>
                                <button type="button" class="btn btn-danger fa fa-trash-o"
                                        ng-click="group.deleteGroup(a.id, a.name)">
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right pagination" dt-pageable="group.groupTable.pageable">
                </div>
            </div>
        </div>
    </div>
</div>