<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">组织管理</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Page content-->
<!--===================================================-->

<!-- Main content -->
<div id="page-content">
    <div ng-show="orgTable.data" class="panel panel-bordered-primary">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">组织创建</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal" id="orgForm">
                                    <div class="form-group">
                                        <label for="name" class="col-md-3 control-label">组织名称</label>

                                        <div class="col-md-9">
                                            <input type="text" id="name" placeholder="组织名称"
                                                   name="name"
                                                   class="form-control" ng-model="orgObj.name"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="type_code" class="col-md-3 control-label">组织类型</label>

                                        <div class="col-md-9">
                                            <input type="text" id="type_code" placeholder="组织类型"
                                                   name="type_code"
                                                   class="form-control" ng-model="orgObj.type_code"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-md-3 control-label">组织描述</label>

                                        <div class="col-md-9">
                                            <input type="text" id="description" placeholder="组织描述"
                                                   name="description"
                                                   class="form-control" ng-model="orgObj.description"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="details" class="col-md-3 control-label">组织详情</label>

                                        <div class="col-md-9">
                                         <textarea placeholder="组织详情" id="details" rows="4"
                                                   class="form-control" ng-model="orgObj.details"
                                                   name="details"></textarea></div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="button" class="btn btn-primary btn-labeled fa fa-user"
                                                ng-click="createOrganization()">创建新组织
                                        </button>
                                        &nbsp;<i class="fa fa-spinner fa-lg" ng-show="spinnerShow"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <div class="animated zoomIn">
            <div class="col-md-12 pull-left" style="padding: 20px 20px;">
                <button id="btn-addrow" class="btn btn-primary btn-labeled fa fa-plus" ng-click="showModal()">创建新组织
                </button>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead id="sort-bar">
                    <tr>
                        <th>#</th>
                        <th data-sort-field="name">名称</th>
                        <th data-sort-field="typeCode">类型</th>
                        <th data-sort-field="statusCode">状态</th>
                        <th>描述</th>
                        <th data-sort-field="createdAccountId">创建者</th>
                        <th data-sort-field="createdDateTime">创建时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="org in orgTable.pageable.data">
                        <td>
                            <span>{{$index + 1}}</span>
                        </td>
                        <td>
                            <span>{{org.name}}</span>
                        </td>
                        <td>
                            <span>{{org.type_code}}</span>
                        </td>
                        <td>
                        <span ng-show="org.status_code == 'available'"><span
                                class="label label-success">可用</span></span>
                           <span ng-show="org.status_code == 'created'"><span
                                   class="label label-info">创建</span></span>
                        <td>
                            <span>{{org.description}}</span>
                        </td>
                        <td>
                            <span>{{org.created_account_id}}</span>
                        </td>
                        <td>
                            <span>{{utils.formatDateString(org.created_datetime)}}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right pagination" dt-pageable="orgTable.pageable">
                </div>
            </div>
        </div>
    </div>
</div>