<div id="page-title">
    <h1 class="page-header text-overflow">产品编辑</h1>
</div>

<div id="page-content">
    <style>
        .deviceWrap {
            background-image: url(img/emulator/iphone-6-portrait.png);
            background-position: 50% 0%;
            background-repeat: no-repeat;
            display: block;
            font-family: helvetica, arial, sans-serif;
            font-size: 13px;
            height: 887px;
            line-height: 13px;
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: 0px;
            margin-right: 0px;
            padding-bottom: 117px;
            padding-left: 0px;
            padding-right: 0px;
            padding-top: 103px;
            position: relative;
            text-align: center;
            width: 100%;
        }

        .device {
            display: block;
            font-family: helvetica, arial, sans-serif;
            font-size: 13px;
            height: 667px;
            line-height: 13px;
            margin-bottom: 0px;
            margin-left: 122px;
            margin-top: 0px;
            padding-bottom: 44px;
            padding-top: 20px;
            position: relative;
            text-align: center;
            width: 375px;
        }

        .flashingTop {
            display: block;
            font-family: helvetica, arial, sans-serif;
            font-size: 13px;
            height: 20px;
            left: 0px;
            line-height: 13px;
            padding-top: 4px;
            position: absolute;
            text-align: center;
            top: 0px;
            width: 375px;
        }

        .flashingBottom {
            bottom: 0px;
            display: block;
            font-family: helvetica, arial, sans-serif;
            font-size: 13px;
            height: 44px;
            left: 0px;
            line-height: 13px;
            position: absolute;
            text-align: center;
            width: 375px;
        }

        .time {
            color: rgb(255, 255, 255);
            display: inline;
            font-family: helvetica, arial, sans-serif;
            font-size: 12px;
            height: auto;
            line-height: 13px;
            text-align: center;
            width: auto;
        }

        .iframe {
            border-bottom-color: rgb(209, 209, 209);
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-image-outset: 0px;
            border-image-repeat: stretch;
            border-image-slice: 100%;
            border-image-source: none;
            border-image-width: 1;
            border-left-color: rgb(209, 209, 209);
            border-left-style: solid;
            border-left-width: 1px;
            border-right-color: rgb(209, 209, 209);
            border-right-style: solid;
            border-right-width: 1px;
            border-top-color: rgb(209, 209, 209);
            border-top-style: solid;
            border-top-width: 1px;
            display: inline;
            font-family: helvetica, arial, sans-serif;
            font-size: 13px;
            height: 603px;
            line-height: 13px;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
            margin-top: 0px;
            text-align: center;
            width: 375px;
        }
    </style>

    <div class="panel panel-bordered-primary">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3 class="panel-title">产品编辑</h3>
                        </div>

                        <!--Horizontal Form-->
                        <!--===================================================-->
                        <div class="form-horizontal" id="createProduct">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-sm-3" for="productName">产品名</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="产品名" id="productName"
                                               class="form-control" ng-model="productName" name="productName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="barCode">BARCODE</label>

                                    <div class="col-sm-9">
                                        <input type="text" placeholder="BARCODE" id="barCode"
                                               class="form-control" ng-model="barCode" name="barCode">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">产品码类型</label>

                                    <!--<div class="col-sm-3">-->
                                    <!--&lt;!&ndash; Inline Checkboxes &ndash;&gt;-->
                                    <!--<input type="checkbox" ng-model="keyTypePubInput" ng-true-value="true"-->
                                    <!--ng-false-value="false"/>二维码-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-3">-->
                                    <!--<input type="checkbox" ng-model="keyTypePriInput" ng-true-value="true"-->
                                    <!--ng-false-value="false"/>隐藏二维码-->
                                    <!--</div>-->
                                    <!--<div class="col-sm-3">-->
                                    <!--<input type="checkbox" ng-model="keyTypeRFIDInput" ng-true-value="true"-->
                                    <!--ng-false-value="false"/>RFID标签-->
                                    <!--</div>-->
                                    <div class="col-sm-3">
                                        <label class="form-checkbox form-icon form-primary form-text">
                                            <input type="checkbox" ng-model="keyTypePubInput" ng-true-value="true"
                                                   ng-false-value="false"/>二维码
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-checkbox form-icon form-success form-text">
                                            <input type="checkbox" ng-model="keyTypePriInput" ng-true-value="true"
                                                   ng-false-value="false"/>
                                            隐藏二维码</label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="form-checkbox form-icon form-purple form-text">
                                            <input type="checkbox" ng-model="keyTypeRFIDInput" ng-true-value="true"
                                                   ng-false-value="false"/>
                                            RFID标签</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-3" for="expireDate">产品过期时间</label>

                                    <div class="col-sm-9">
                                        <input type="number" name="greaterthan" placeholder="请输入大于1的正整数" id="expireDate"
                                               class="form-control" ng-model="expireDate">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="expireDateUnit">产品过期单位</label>

                                    <div class="col-sm-9">
                                        <select id="expireDateUnit" class="form-control" ng-model="expireDateUnit">
                                            <option>年</option>
                                            <option>月</option>
                                            <option>周</option>
                                            <option>天</option>
                                            <option>小时</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">产品详细信息</label>

                                    <div class="col-sm-9">
                                        <div ng-repeat="data in productInfos" class="form-inline"
                                             style="margin-top: 5px">
                                            <input type="text" ng-model="data.key" style="width:30%"
                                                   class="form-control"
                                                   name="productInfoKey"/>
                                            <input type="text" ng-model="data.value" style="width:69%"
                                                   class="form-control"
                                                   name="productInfoName"/>
                                        </div>
                                        <div>
                                            <a ng-click="addProductInfo()"><i class="fa fa-plus-square-o"></i></a>
                                            <a ng-click="subProductInfo()"><i class="fa fa-minus-square-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">联系方式</label>

                                    <div class="col-sm-9">
                                        <div style="margin-top: 5px" class="form-inline">
                                            <input type="text" ng-model="hotline" style="width:49%" class="form-control"
                                                   placeholder="热线电话"/>
                                            <input type="text" ng-model="support" style="width:50%" class="form-control"
                                                   placeholder="技术支持"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3 ">在线商城</label>

                                    <div class="col-sm-9">
                                        <div style="margin-top: 5px" class="form-inline">
                                            <input type="text" ng-model="taobao" style="width:49%" class="form-control"
                                                   placeholder="淘宝商城"/>
                                            <input type="text" ng-model="tmall" style="width:50%" class="form-control"
                                                   placeholder="天猫商城"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">实体店列表</label>

                                    <div class="col-sm-offset-3 form-inline" style="margin-top: 5px"
                                         ng-repeat="data in productAddress">
                                        <input type="text" ng-model="data.address" style="width:49%"
                                               class="form-control" placeholder="地址"/>
                                        <input type="text" ng-model="data.tel" style="width:50%" class="form-control"
                                               placeholder="电话"/>
                                    </div>
                                    <div class="col-sm-offset-3">
                                        <a ng-click="addProAddress()"><i class="fa fa-plus-square-o"></i></a>
                                        <a ng-click="subProAddress()"><i class="fa fa-minus-square-o"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3" for="comment">产品备注</label>

                                    <div class="col-sm-9">
                                        <textarea placeholder="产品备注" id="comment" rows="5"
                                                  class="form-control" ng-model="comment"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-3">产品图片</label>

                                    <div class="col-sm-9" id="divImgWrap">
                                        <img id="imgProductbase" style="width:422px;height:211px">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-3">
                                        <!--<input class="input-file" id="fileInput" type="file" nv-file-select=""-->
                                        <!--uploader="uploader" class="form-control">-->
                                                                            <span class="pull-left btn btn-default btn-file">
                                        选择图片...<input type="file" id="fileInput" nv-file-select=""
                                                      uploader="uploader">
											</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row text-center">
                                        <button class="btn btn-info" type="button" ng-click="preview()"><i
                                                class="fa fa-tablet fa-fw"></i>&nbsp;&nbsp;预览
                                        </button>
                                        &nbsp;&nbsp;
                                        <button class="btn btn-primary" type="button" ng-click="submit()"
                                                ><i class="fa fa-send fa-fw"></i>&nbsp;&nbsp;提交
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--===================================================-->
                        <!--End Horizontal Form-->

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="deviceWrap">
                        <div class="device">
                            <div class="flashingTop"><span
                                    class="time">4:17 <span>PM</span></span></div>
                            <div class="flashingBottom"></div>
                            <iframe src="pages/emulator/home.html" id="iphone-6-portrait" class="iframe"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
