<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        用户管理
        <!--<small>Control panel</small>-->
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
        <li class="active">用户管理</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <script type="text/javascript">
        $(document).ready(function () {
            $('#accountTable').dataTable({
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bSort": true,
                "bAutoWidth": false,
                "bInfo": false,
                "aoColumnDefs": [{"bSortable": false, "aTargets": [0, 1, 2]}]
            });
        });
    </script>
    <div class="box-group">
        <div class="panel box box-primary">
            <div class="box-body table-responsive">
                <div class="dataTables_wrapper form-inline" role="grid">
                    <div class="col-xs-12">
                        <table id="accountTable" class="table table-hover dataTable">
                            <thead>
                            <tr role="row">
                                <th>编号</th>
                                <th>账号ID</th>
                                <th>账号名</th>
                                <th ng-click='sort("identifier")'>账号标识</th>
                                <th ng-click='sort("status_code")'>状态</th>
                                <th ng-click='sort("email")'>邮箱</th>
                                <th ng-click='sort("phone")'>电话</th>
                                <th ng-click='sort("created_datetime")'>创建时间</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="account in data.filteredAccounts">
                            <tr>
                                <td>
                                    <span>{{$index + 1 + paging.index * paging.size}}</span>
                                </td>
                                <td>
                                    <span>{{account.id}}</span>
                                </td>
                                <td>
                                    <span>{{account.last_name + account.first_name}}</span>
                                </td>
                                <td>
                                    <span>{{account.identifier}}</span>
                                </td>
                                <td>
                                    <span ng-show="account.status_code == 'available'"><span class="label label-success">正常</span></span>
                                <td>
                                    <span>{{account.email}}</span>
                                </td>
                                <td>
                                    <span>{{account.phone}}</span>
                                </td>
                                <td>
                                    <span>{{utils.formatDateString(account.created_datetime)}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-xs-6">
                        <p>显示 {{currentPageStart()}} 到
                            {{currentPageEnd()}} 条记录</p>
                    </div>
                    <div class="col-xs-6">
                        <div class="dataTables_paginate paging_bootstrap">
                            <ul class="pagination">
                                <li class="prev" ng-class="{ disabled: paging.index<1}"><a
                                        ng-click="paging.index>0&&gotoPage(paging.index-1)">上一页</a></li>
                                <li ng-repeat-start="page in pages()" ng-repeat-end
                                    ng-class="{active: paging.index === page - 1}"><a
                                        ng-click="gotoPage(page - 1)">{{page}}</a></li>
                                <li class="next"
                                    ng-class="{ disabled: data.accounts.length < (paging.index+1)*paging.size}"><a
                                        ng-click="data.accounts.length >= (paging.index+1)*paging.size && gotoPage(paging.index+1)">下一页</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>