<!--Page Title-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<div id="page-title">
    <h1 class="page-header text-overflow">账号管理</h1>
</div>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--End page title-->


<!--Page content-->
<!--===================================================-->

<!-- Main content -->
<div id="page-content">
    <div ng-show="account.accountTable.data" class="panel panel-bordered-primary">
        <!-- Modal -->
        <div class="modal fade" id="createAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">账号创建</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal" id="accountForm">
                                    <div class="form-group" id="divAccountIdentifier">
                                        <label for="accountIdentifier" class="col-md-3 control-label">账号标识</label>

                                        <div class="col-md-9">
                                            <input type="text" id="accountIdentifier" placeholder="账号标识"
                                                   name="accountIdentifier"
                                                   class="form-control" ng-model="account.create.accountIdentifier"/>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divLastName">
                                        <label for="lastName" class="col-md-3 control-label">姓</label>

                                        <div class="col-md-9">
                                            <input type="text" id="lastName" placeholder="姓" name="lastName"
                                                   class="form-control" ng-model="account.create.lastName"/>
                                        </div>
                                    </div>
                                    <div class="form-group" id="divFirstName">
                                        <label for="firstName" class="col-md-3 control-label">名</label>

                                        <div class="col-md-9">
                                            <input type="text" id="firstName" placeholder="名" name="firstName"
                                                   class="form-control" ng-model="account.create.firstName"/></div>
                                    </div>
                                    <div class="form-group" id="divEmail">
                                        <label for="email" class="col-md-3 control-label">邮箱</label>

                                        <div class="col-md-9">
                                            <input type="text" id="email" placeholder="邮箱" name="email"
                                                   class="form-control" ng-model="account.create.email"/></div>
                                    </div>
                                    <div class="form-group" id="divPhone">
                                        <label for="phone" class="col-md-3 control-label">电话</label>

                                        <div class="col-md-9">
                                            <input type="text" id="phone" placeholder="电话" name="phone"
                                                   class="form-control" ng-model="account.create.phone"/></div>
                                    </div>
                                    <div class="form-group" id="divPassword">
                                        <label for="password" class="col-md-3 control-label">账号密码</label>

                                        <div class="col-md-9">
                                            <input type="password" id="password" placeholder="账号密码" name="password"
                                                   class="form-control" ng-model="account.create.password"/></div>
                                    </div>
                                    <div class="form-group" id="divPasswordConfirm">
                                        <label for="passwordConfirm" class="col-md-3 control-label">密码确认</label>

                                        <div class="col-md-9">
                                            <input type="password" id="passwordConfirm" placeholder="密码确认"
                                                   name="passwordConfirm"
                                                   class="form-control" ng-model="account.create.passwordConfirm"/>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <button type="button" class="btn btn-primary btn-labeled fa fa-user"
                                                ng-click="account.create.createAccount()">创建
                                        </button>
                                        &nbsp;<i class="fa fa-spinner fa-lg" ng-show="account.spinnerShow"></i>
                                        <button type="button" class="btn btn-info btn-labeled fa fa-close"
                                                ng-click="account.create.hideCreateAccountModal()">
                                            取消
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="treeMenuModal" tabindex="-1" role="dialog" aria-labelledby="treeMenuModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="treeMenuModalLabel">账号授权</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label class="col-md-2"><i class="fa fa-fw fa-dashboard "></i>&nbsp;<strong>仪表台</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.dashBoardRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.dashBoardRead"
                                                        ng-click="account.auth.authDashBoardRead()"
                                                        ng-disabled="account.auth.disableAll">查看</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-puzzle-piece"></i>&nbsp;<strong>产品</strong></label>

                                                <div class="col-md-10">
                                                    <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.productRead}"><input
                                                            type="checkbox" ng-true-value="true"
                                                            ng-false-value="false"
                                                            ng-model="accountPermission.productRead"
                                                            ng-click="account.auth.authProductRead()"
                                                            ng-disabled="account.auth.disableAll">查看</label>
                                                    <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.productMng}"><input
                                                            type="checkbox" ng-true-value="true"
                                                            ng-false-value="false"
                                                            ng-model="accountPermission.productMng"
                                                            ng-click="account.auth.authProductMng()"
                                                            ng-disabled="account.auth.disableAll">管理</label>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-tags"></i>&nbsp;<strong>产品码</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.productKeyRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.productKeyRead"
                                                        ng-click="account.auth.authProductKeyRead()"
                                                        ng-disabled="account.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.productKeyMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.productKeyMng"
                                                        ng-click="account.auth.authProductKeyMng()"
                                                        ng-disabled="account.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-gift"></i>&nbsp;<strong>包装</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.packageRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false" ng-model="accountPermission.packageRead"
                                                        ng-click="account.auth.authPackageRead()"
                                                        ng-disabled="account.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.packageMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false" ng-model="accountPermission.packageMng"
                                                        ng-click="account.auth.authPackageMng()"
                                                        ng-disabled="account.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-truck"></i>&nbsp;<strong>物流</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.logisticsRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.logisticsRead"
                                                        ng-click="account.auth.authLogisticsRead()"
                                                        ng-disabled="account.auth.disableAll">查看</label>
                                                <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.logisticsMng}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.logisticsMng"
                                                        ng-click="account.auth.authLogisticsMng()"
                                                        ng-disabled="account.auth.disableAll">管理</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2"><i class="fa fa-fw fa-bar-chart"></i>&nbsp;<strong>报表</strong></label>

                                            <div class="col-md-10">
                                                <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.reportRead}"><input
                                                        type="checkbox" ng-true-value="true"
                                                        ng-false-value="false"
                                                        ng-model="accountPermission.reportRead"
                                                        ng-click="account.auth.authReportRead()"
                                                        ng-disabled="account.auth.disableAll">查看</label>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2"><i
                                                    class="fa fa-fw fa-cogs"></i>&nbsp;<strong>设置</strong></label>

                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">消息</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.msgRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.msgRead"
                                                                ng-click="account.auth.authMsgRead()"
                                                                ng-disabled="account.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.msgMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.msgMng"
                                                                ng-click="account.auth.authMsgMng()"
                                                                ng-disabled="account.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">设备</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.deviceRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.deviceRead"
                                                                ng-click="account.auth.authDeviceRead()"
                                                                ng-disabled="account.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.deviceMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.deviceMng"
                                                                ng-click="account.auth.authDeviceMng()"
                                                                ng-disabled="account.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">账号</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.accountRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.accountRead"
                                                                ng-click="account.auth.authAccountRead()"
                                                                ng-disabled="account.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.accountMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.accountMng"
                                                                ng-click="account.auth.authAccountMng()"
                                                                ng-disabled="account.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">账号组</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.groupRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.groupRead"
                                                                ng-click="account.auth.authGroupRead()"
                                                                ng-disabled="account.auth.disableAll">查看</label>
                                                        <label class="form-checkbox form-icon form-success form-text" ng-class="{ 'active' : accountPermission.groupMng}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.groupMng"
                                                                ng-click="account.auth.authGroupMng()"
                                                                ng-disabled="account.auth.disableAll">管理</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-offset-2 form-inline" style="margin-top: 6px">
                                                <div class="row">
                                                    <label class="col-md-2">密码</label>

                                                    <div class="col-md-10">
                                                        <label class="form-checkbox form-icon form-primary form-text" ng-class="{ 'active' : accountPermission.passwordRead}"><input
                                                                type="checkbox" ng-true-value="true"
                                                                ng-false-value="false"
                                                                ng-model="accountPermission.passwordRead"
                                                                ng-click="account.auth.authPasswordRead()"
                                                                ng-disabled="account.auth.disableAll">查看</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 text-center">
                                <button type="button" class="btn btn-info btn-labeled fa fa-close"
                                        ng-click="account.auth.hideAuthAccountModal()">
                                    关闭
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="addToGroupModal" tabindex="-1" role="dialog"
             aria-labelledby="addAccountsModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="addAccountsModalLabel">添加到组</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="min-height: 200px">
                            <div class="col-md-12">
                                <label class="label label-success">按住Ctrl键多选</label>
                            </div>
                            <div class="col-md-12">
                                <br>
                                <select id="selectGroup" data-placeholder="添加账号组..." multiple>
                                </select>
                            </div>
                        </div>
                        <div class="row text-center">
                            <button type="button" class="btn btn-primary btn-labeled fa fa-group"
                                    ng-click="account.assignGroup.addAccountsToGroup()">添加
                            </button>
                            &nbsp;<i class="fa fa-spinner fa-lg" ng-show="account.spinnerShow"></i>
                            <button type="button" class="btn btn-info btn-labeled fa fa-close"
                                    ng-click="account.assignGroup.hideAddAccountsModal()">
                                取消
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>

        <div class="animated slideInRight">
            <div class="col-md-12 pull-left" style="padding: 20px 20px;" ng-show="accountButtonShow">
                <button id="btn-addrow" class="btn btn-primary btn-labeled fa fa-plus"
                        ng-click="account.create.showCreateAccountModal()">创建账号
                </button>
            </div>

            <div class="panel-body">
                <table class="table table-hover">
                    <thead id="sort-bar">
                    <tr>
                        <th>#</th>
                        <th data-sort-field="identifier">账号标识</th>
                        <th data-sort-field="lastName">账号名</th>
                        <th data-sort-field="statusCode">状态</th>
                        <th data-sort-field="email">邮箱</th>
                        <th data-sort-field="phone">电话</th>
                        <th data-sort-field="createdDateTime">创建时间</th>
                        <th class="col-xs-1" ng-show="accountButtonShow">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="a in account.accountTable.pageable.data">
                        <td>
                            <span>{{$index + 1}}</span>
                        </td>
                        <td>
                            <span>{{a.identifier}}</span>
                        </td>
                        <td>
                            <span>{{a.last_name + a.first_name}}</span>
                        </td>
                        <td>
                        <span ng-show="a.status_code == 'available'"><span
                                class="label label-success">可用</span></span>
                           <span ng-show="a.status_code == 'created'"><span
                                   class="label label-info">创建</span></span>
                        <td>
                            <span>{{a.email}}</span>
                        </td>
                        <td>
                            <span>{{a.phone}}</span>
                        </td>
                        <td>
                            <span>{{utils.formatDateString(a.created_datetime)}}</span>
                        </td>
                        <td ng-show="accountButtonShow">
                            <button type="button" class="btn btn-success fa fa-user-secret"
                                    ng-click="account.auth.showAuthAccountModal(a.id)">
                            </button>
                            <button type="button" class="btn btn-info fa fa-users"
                                    ng-click="account.assignGroup.showAddToGroupModal(a.id)">
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pull-right pagination" dt-pageable="account.accountTable.pageable">
                </div>
            </div>
        </div>
    </div>
</div>