<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/context 
                        http://www.springframework.org/schema/context/spring-context.xsd


                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:component-scan base-package="com.yunsoo"/>

    <tx:annotation-driven/>

    <bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:jdbc.properties"/>
    </bean>

    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driver_class}" p:url="${jdbc.url}"
          p:username="${jdbc.username}" p:password="${jdbc.password}"/>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="configLocation" value="classpath:hibernate.cfg.xml"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="connection.pool_size">1</prop>
                <!-- JDBC connection pool (use the built-in connection pool) -->
                <!--<prop key="hibernate.connection.CharSet">UTF8</prop>-->
                <!--<prop key="hibernate.connection.characterEncoding">UTF8</prop>-->
                <!--<prop key="hibernate.connection.useUnicode">true</prop>-->
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager"
          p:sessionFactory-ref="sessionFactory"/>
    <!--
    <bean id="productKeyService" class="ProductKeyServiceImpl">
        <constructor-arg>
            <ref bean="mysessionFactory" />
        </constructor-arg>
    </bean>
    <bean id="productKeyDao" class="com.yunsoo.dao.impl.ProductKeyDaoImpl">
        <constructor-arg>
            <ref bean="mysessionFactory" />
        </constructor-arg>
    </bean>
    -->
    <!-- <bean id="yunsooTemplate" class="org.springframework.orm.hibernate4.HibernateTemplate">
        <property name="sessionFactory" ref="mysessionFactory"></property> </bean>
        <bean id="d" class="com.yunsoo.dao.impl.ProductKeyDaoImpl"> <property name="template"
        ref="yunsooTemplate"></property> </bean> -->
</beans>  