<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.yunsoo.dbmodel.BaseProduct"></mapping>
		<mapping class="com.yunsoo.dbmodel.Product"></mapping>
		<mapping class="com.yunsoo.dbmodel.ProductKey"></mapping>
		<mapping class="com.yunsoo.dbmodel.ProductCategory"></mapping>
		<mapping class="com.yunsoo.dbmodel.ProductSubCategory"></mapping>
		<mapping class="com.yunsoo.dbmodel.ProductKeyStatus"></mapping>
		<mapping class="com.yunsoo.dbmodel.ProductKeyType"></mapping>
		<mapping class="com.yunsoo.dbmodel.Employee"/>
	</session-factory>
</hibernate-configuration>