<div id="mainnav" ng-controller="NavCtrl">

    <!--Shortcut buttons-->
    <!--================================-->
    <div id="mainnav-shortcut">
        <!--<ul class="list-unstyled">-->
        <!--<li class="col-xs-4" data-content="Additional Sidebar">-->
        <!--<a id="demo-toggle-aside" class="shortcut-grid" href="#">-->
        <!--<i class="fa fa-magic"></i>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="col-xs-4" data-content="Notification">-->
        <!--<a id="demo-alert" class="shortcut-grid" href="#">-->
        <!--<i class="fa fa-bullhorn"></i>-->
        <!--</a>-->
        <!--</li>-->
        <!--<li class="col-xs-4" data-content="Page Alerts">-->
        <!--<a id="demo-page-alert" class="shortcut-grid" href="#">-->
        <!--<i class="fa fa-bell"></i>-->
        <!--</a>-->
        <!--</li>-->
        <!--</ul>-->
    </div>
    <!--================================-->
    <!--End shortcut buttons-->


    <!--Menu-->
    <!--================================-->
    <div id="mainnav-menu-wrap">
        <div class="nano">
            <div class="nano-content">
                <ul id="mainnav-menu" class="list-group">

                    <!--Menu list item-->
                    <li>
                        <a href="#/dashboard">
                            <i class="fa fa-fw fa-dashboard "></i>
                            <span class="menu-title"><strong>仪表台</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/organization">
                            <i class="fa fa-fw fa-users"></i>
                            <span class="menu-title"><strong>组织管理</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/account">
                            <i class="fa fa-fw fa-user"></i>
                            <span class="menu-title"><strong>账号管理</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/account">
                            <i class="fa fa-fw fa-user"></i>
                            <span class="menu-title"><strong>账号组管理</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/product-key-manage">
                            <i class="fa fa-fw fa-tags"></i>
                            <span class="menu-title"><strong>产品管理</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/product-key-manage">
                            <i class="fa fa-fw fa-tags"></i>
                            <span class="menu-title"><strong>产品码管理</strong></span>
                        </a>
                    </li>

                    <li>
                        <a href="#/message">
                            <i class="fa fa-fw fa-comment"></i>
                            <span class="menu-title"><strong>消息管理</strong></span>
                        </a>
                    </li>

                    <!--Menu list item-->
                    <li data-menu-group="setting">
                        <a href="">
                            <i class="fa fa-fw fa-cogs"></i>
                            <span class="menu-title"><strong>设置</strong></span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse" data-menu-group="setting">
                            <li><a href="#/setting">密码</a></li>
                        </ul>
                    </li>

                </ul>

                <!--Widget-->
                <!--================================-->
                <div class="mainnav-widget">

                    <!-- Show the button on collapsed navigation -->
                    <div class="show-small">
                        <a href="" data-toggle="menu-widget" data-target="#wg-product-key">
                            <i class="fa fa-qrcode"></i>
                        </a>
                    </div>

                </div>
                <!--================================-->
                <!--End widget-->

            </div>
        </div>
    </div>
    <!--================================-->
    <!--End menu-->

</div>