<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
    <script src="../../javascripts/jquery.min.js" type="text/javascript"></script>
    <script src="../../javascripts/demo.js" type="text/javascript"></script>
    <style>
        img{
            width: 100%;
        }
    </style>
</head>
<body>
    <div style="display: none" type="1">
        <img src="../../images/demo/details1.jpg"  />
        <img src="../../images/demo/details2.jpg" />
        <img src="../../images/demo/details3.jpg" />
        <img src="../../images/demo/details4.jpg" />
        <img src="../../images/demo/details5.jpg" />
        <img src="../../images/demo/details6.jpg" />
        <img src="../../images/demo/details7.jpg" />
    </div>
    <div style="display: none" type="2">
        <img src="../../images/zhen/details1.jpg"  />
        <img src="../../images/zhen/details2.jpg" />
        <img src="../../images/zhen/details3.jpg" />
        <img src="../../images/zhen/details4.jpg" />

    </div>
    <div style="display: none" type="3">
        <img src="../../images/tai/details0.jpg"  />
        <img src="../../images/tai/details1.jpg"  />
        <img src="../../images/tai/details2.jpg" />
        <img src="../../images/tai/details3.jpg" />
        <img src="../../images/tai/details4.jpg" />
    </div>
</body>
</html>