<!DOCTYPE html>
<html>
<head lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>

    <style>
        .content{
            margin-top: 10px;
            background-color: white;
            padding: 20px;
            border: 1px #D3D3D3 solid;
            font-size:30px;
        }

        .content div{
            margin-bottom: 30px;
        }
        img{
             width: 100%;
         }
    </style>
</head>
<body style="background-color:#E9E9E9">
    <div>
        <img src="../../images/demo/introduce.jpg"/>
        <div class="content">
            <div>天生爱美的女性，怎能没有一款高端优质的面膜呢？来自法国的碧姬芙V·18以高调的姿态出现在众人面前，独特的包装、高端的品质，把众多女性的目光集于一个焦点。
                法国碧姬芙一直都是致力于尖端高科技方面的研究，碧姬芙有自己独立的研究实验室，并有一批优秀的研发人员，专注于中档、高档护肤品以及药妆等等产品的服务与开发。为了给亚洲女性缔造出更加适合大众的面膜，碧姬芙针对亚洲女性皮肤的肤质特点做出了详细的调查、分析、实验等环节，最终研制了一系列全新还原肌肤年轻标识的V·18产品。
            </div>
            <div>V18这个名字，不仅仅拥散发着青春的活力，而且在面膜品牌中也有着名列前某的成绩，法国碧姬芙研发团队一直深信护肤的最佳伙伴就是大自然。</div>
            <div>咨询电话： 4006-060-020</div>
        </div>
    </div>
 </body>
</html>